.idea
/venv

files_stuff/__pycache__/Loader.cpython-37.pyc
manager/__pycache__/Manager.cpython-37.pyc
manager/__pycache__/Painter.cpython-37.pyc
misc/__pycache__/misc.cpython-37.pyc


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
